@import "reset.scss";
@import "fonts.scss";
/*---------------------*/

// /*******СТРАНИЦА 'ПОИСК УЧЕНИКА' *******/
// @import "student_search";


// main colors -----

$c1:#3B5DA4;
$c2:#FB9E43;
$c3:#ABABB5;

// text colors -----

$tc1: #69696B;


/* ----- */ 

html {
    box-sizing: border-box; //конечный размер блока устанавливается w и h

                            //after и before задан border-box в reset
                            
                            //для всех ссылок цвет inferit и decorate: none в reset

    body{
        background-color: #fff;

        font-family: 'Inter-Regular', sans-serif;
        color: #111111;
        line-height: 1.4;
        font-weight: 400;
        font-size: 20px;
    
    }
}

// ---------- обертка страницы

.wrapper {
    min-height: 100%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
}

// ---------- контейнер, ограничивающий контент по ширине

.container {
    max-width: 1320px; //1300 + 20(padding) - чтобы реальная ширина контента была как в макете.
    padding: 0 10px; //чтобы контент не прилипал к краям при уменьшении размеров экрана.
    margin: 0 auto; //контейнер, который ограничивает ширину контента.
    //Делается для того, чтобы размер контента был адаптивен для разных экранов.  
}

// ---------- шапка страницы

.header {
    border-bottom:2px solid $c1; //полоса отделяющая headen от main

    &__container {
        padding: 5px 0 15px 0;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

// ---------- основная часть страницы

.main {
    flex: 1 1 auto;

    &__text-subtitle {
        margin-top: 13px;
        margin-bottom: 32px;
        text-align: center;
        color: $tc1;
    }
    &__text-subtitle--left{
        text-align: left;
    }
    &__two-button{
        margin-right: 30px;
    }
    &__button{
        justify-content: center;
    }
}

// ---------- заголовок страницы (находится в основной части)

.title {
    font-family: 'Inter-SemiBold';

    text-align: center;
    font-size: 32px;
    line-height: 39px;

    &__text-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 66px;
        margin-bottom: 66px;
    }  
    &__date-ellipse {
        margin-left: 16px;
        width: 150px;
        height: 42px;
        border: 2px solid #3B5DA4;
        border-radius: 60px;
    }
}

// ---------- блок с выбором карточек (находится в основной странице)

.choice-card {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 0 100px;
    
    .yyd{
        display: none;
    }

    &__card {

        width: 330px;
        height: 330px;
        margin-bottom: 32px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        :hover{
            cursor:pointer;
        }
    }

    &__title {
        display: inline-block;

        width: 480px;
        
        font-family: 'Inter-SemiBold';
        font-size: 24px;
        line-height: 29px;
        text-align: center;
    }

    &__container-checkbox {
        display: flex;
        margin-top: 16px;
    }
    &__checkbox { 
        margin-right: 7px;
        width: 24px;
        height: 24px;
        background: #FFFFFF;
        border: 2px solid #ABABB5;
        border-radius: 2.4px;
    }
    &__checkbox-title {
        font-family: 'Inter';        
        font-size: 20px;
        line-height: 24px;
        color: #6B6B6B;
    }
}

// ---------- подвал страницы. Прикреплен к нижный части экрана

.footer {

    background-color: $c1;

    &__kubsu-block {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 28px 0;
    }

    &__text {
        padding-left: 18px;

        color: #fff;
        font-family: 'Inter-Regular';
        font-size: 20px;
        line-height: 24px;
        
    }
}

// ---------- кнопка. Ширина по контенту. Прозрачная, синяя рамка.

.button {
    display: flex;
    align-items: flex-end;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding: 8px 16px;
        margin-bottom: 57px;
        
        border: 1px solid #3B5DA4;
        border-radius: 8px;
    }
    :hover{
        cursor:pointer;
    }
//----- Кнопка синего цвета. Белый текст кнопки
    &__container--blue{
        background: #3B5DA4;
        margin-right: 30px;
    }
//----- Отступ от второй кнопки. Кнопки в одном контейнере должны быть(main__two-button)    
    &__container--two-button {
        margin-right: 30px;
    }
//----- Кнопка внутри формы    
    &__form-container {
        
        border: 1px solid #3B5DA4;
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding: 8px 16px;
    }
//----- Текст кнопки внутри формы  
    &__form-text{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #3B5DA4;

    }

    &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #3B5DA4;
    }
//----- Белый текст кнопки
    &__text--white {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #fff;
    }
    &__row {
        display: flex;
        align-items: center;
        margin-left: 8px;
    }
}


// ---------- форма.

.form {
    


    &__addstudent {
        margin-bottom: 66px;

        padding-top: 55px;

        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        gap: 20px 85px;
    }

    &__element {
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-size: 20px;
        line-height: 24px;
        color: #69696B;
    }

    &__input {
        padding: 0 0 0 15px;
        ::placeholder{
            color: #111111;
        }
        background-color: #fff;

        width: 197px;
        height: 42px;

        border: 2px solid #ABABB5;
        border-radius: 4px;
    }
    
}

//list

.list {

    &__container {
        display: flex;
        flex-direction: column;
    
    }

    &__title {
        font-family: 'Inter-SemiBold';
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 21px;
        padding-left: 20px;
    }

    &__elem-block {
        display: flex;
        align-items: center;

        border-left: 2px solid #69696B;
        padding: 0 20px;
        margin-bottom: 20px;
    }
    &__elem-text{
        font-family: 'Inter-Regular';
        font-size: 20px;
        line-height: 28px;
        margin:0 24px;
        cursor: pointer;
        
        &:hover{
            color:#3B5DA4;
        }
    }
    &__elem-row{
        width: 12px;
        height: 6px;
    }

    &__ellips {
        background: #3B5DA4;
        border-radius: 60px;
        width: 85px;
        height: 42px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        gap: 8px;
        margin-left: 40px;
    }
    
    &__ul {
        margin-bottom: 15px;
        display: none;

        li{
            &:hover{
                color:#69696B;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    .ul--show {
        margin-bottom: 15px;
        display: block;
    }
    li{
        margin-left: 60px;
    }
}
//quiz
.quiz-questions,
.quiz-indicator {
    margin-bottom: 20px;
    border-bottom: 1px solid #3B5DA4;
}

.quiz-results{
    display: none;
}

.quiz-questions-item,
.quiz-results-item {

		&__question {
            margin-bottom: 20px;
        }

		&__answers {
            margin: 0;
            padding: 0;
            list-style: none;
        }
}


.btn-restart {
    display: none;
}

.questions--hidden,
.indicator--hedden,
.btn-next--hidden{
    display: none;
}


.indicator--visible,
.btn-restart--visible{
    display: block;
}

.answer--invalid{
    color: red;
}
.answer--valid{
    color: green;
}
